In [69]:
import pandas as pd
import numpy as np
file = "purchase_data.csv"
purchasedata_df = pd.read_csv(file)
purchasedata_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

## Player Count

In [70]:
#total players based on puchase SN
players = purchasedata_df["SN"].value_counts()
totalplayers = len(players)
totalplayersdf = pd.DataFrame({"Total Number of Players": [totalplayers]})
totalplayersdf

   Total Number of Players
0                      576

## Purchase Analysis(Total)

In [71]:
#number of unique Items
uniqueitems = purchasedata_df["Item Name"].nunique()
#average purchase price
average = round(purchasedata_df["Price"].mean(),2)
#total number of purchases
purchases = purchasedata_df["Purchase ID"].count()
#total revenue
totalrevenue = round(purchasedata_df["Price"].sum(),2)
#Dataframe of Summary
summary = pd.DataFrame({"Number of Unique Items": [uniqueitems], "Average Purchase Price ($)": [average],
                        "Total Number of Purchases": [purchases], "Total Revenue ($)": [totalrevenue]})
summary

,Number of Unique Items,Average Purchase Price ($),Total Number of Purchases,Total Revenue ($)
0,179,3.05,780,2379.77

## Gender Demographics

In [72]:
#gender totals
gender = purchasedata_df.groupby("Gender")
genders = gender.nunique()
gendertotal = genders["SN"]
percentage = round((gendertotal / totalplayers) * 100,2)
demographics = pd.DataFrame({"Percentage of Players (%)": percentage, "Total Gender Count": gendertotal})
demographics

                       Percentage of Players (%)  Total Gender Count
Gender
Female                                     14.06                  81
Male                                       84.03                 484
Other / Non-Disclosed                       1.91                  11

## Gender Analysis by Purchase

In [73]:
#gender analysis
PurchaseByGender = genders["Purchase ID"]
TotalPurchaseAmount = (gender["Price"].sum())
AveragePurchasePrice = round(TotalPurchaseAmount / PurchaseByGender,2)
TotalAveragePurchasePerPerson = round(TotalPurchaseAmount/gendertotal,2)
summary = pd.DataFrame({"Purchase Count": PurchaseByGender, "Total Purchase Amount": TotalPurchaseAmount,
                       "Average Purchase Price": AveragePurchasePrice,"Total Average Purchase Per Person": TotalAveragePurchasePerPerson})
summary

,Purchase Count,Total Purchase Amount,Average Purchase Price,Total Average Purchase Per Person
Gender,,,,
Female,113,361.94,3.20,4.47
Male,652,1967.64,3.02,4.07
Other / Non-Disclosed,15,50.19,3.35,4.56

## Age Demographics and Purchase Analysis

In [165]:
agegroups = [0,9,14,19,24,29,34,39,100]
agerange = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchasedata_df["Age Ranges"] = pd.cut(purchasedata_df["Age"],agegroups,labels = agerange)
purchasedata_df
ages = purchasedata_df.groupby("Age Ranges")
totalcount = ages["SN"].nunique()
agepercent = round(totalcount/totalplayers * 100,2)
agepercent
purchasecount = ages["Purchase ID"].nunique()
totalpurchase = ages["Price"].sum()
avgpurchase = round(totalpurchase/totalcount,2)
totalavgpurchase = round(totalpurchase/totalcount,2)
pd.DataFrame({"Total Count": totalcount,"Percentage of Players": agepercent,"Purchase Count": purchasecount,
              "Average Purchase": avgpurchase,"Total Purchase Amount": totalpurchase,"Total Average Purchase": totalavgpurchase})

,Total Count,Percentage of Players,Purchase Count,Average Purchase,Total Purchase Amount,Total Average Purchase
Age Ranges,,,,,,
<10,17,2.95,23,4.54,77.13,4.54
10-14,22,3.82,28,3.76,82.78,3.76
15-19,107,18.58,136,3.86,412.89,3.86
20-24,258,44.79,365,4.32,1114.06,4.32
25-29,77,13.37,101,3.81,293.00,3.81
30-34,52,9.03,73,4.12,214.00,4.12
35-39,31,5.38,41,4.76,147.67,4.76
40+,12,2.08,13,3.19,38.24,3.19

## Top Spenders

In [200]:
SN = purchasedata_df.groupby("SN")
purchasebySN = SN["Purchase ID"].nunique()
totalpurchase = SN["Price"].sum()
avgpurchase = round(totalpurchase/purchasebySN,2)
#totalpurchsedescending = SN.sort_values("Price",ascending = False)
spenders = pd.DataFrame({"Purchase Count":purchasebySN,"Average Purchase Price":avgpurchase,"Total Purchase Value": totalpurchase})
topspenders = spenders.sort_values("Total Purchase Value",ascending = False)
topspenders.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

## Most Popular Items

In [211]:
itemid = purchasedata_df.groupby("Item ID")
purchasecount = itemid["Purchase ID"].nunique()
items = itemid["Item Name"].unique()
itemframe = pd.DataFrame({"Item Name":items,"Purchase Count": purchasecount})
itemframe

                                              Item Name  Purchase Count
Item ID
0                                            [Splinter]               4
1                                            [Crucifer]               3
2                                             [Verdict]               6
3                                        [Phantomlight]               6
4                                  [Bloodlord's Fetish]               5
5                                          [Putrid Fan]               4
6                                         [Rusty Skull]               2
7                        [Thorn, Satchel of Dark Souls]               7
8                            [Purgatory, Gem of Regret]               3
9                   [Thorn, Conqueror of the Corrupted]               4
10                                        [Sleepwalker]               4
11                                          [Brimstone]               5
12                                              [Dawne]               6
13                                           [Serenity]               4
14                                     [Possessed Core]               2
15                               [Soul Infused Crystal]               5
16                                    [Restored Bauble]               4
17                       [Lazarus, Terror of the Earth]               4
18                         [Torchlight, Bond of Storms]               2
19                      [Pursuit, Cudgel of Necromancy]               8
20                                         [Netherbane]               5
21                                          [Souleater]               5
22                                            [Amnesia]               6
23                                           [Crucifer]               1
24                                      [Warped Fetish]               5
25                                          [Hero Cane]               6
26                                        [Unholy Wand]               2
27                    [Riddle, Tribute of Ended Dreams]               1
28                   [Flux, Destroyer of Due Diligence]               2
29                            [Chaos, Ender of the End]               5
...                                                 ...             ...
154                                      [Feral Katana]               4
155                         [War-Forged Gold Deflector]               5
156                      [Soul-Forged Steel Shortsword]               5
157                           [Spada, Etcher of Hatred]               4
158                [Darkheart, Butcher of the Champion]               2
159                 [Oathbreaker, Spellblade of Trials]               7
160                                        [Azurewrath]               6
161                                            [Devine]               5
162                                     [Abyssal Shard]               5
163                              [Thunderfury Scimitar]               5
164                                  [Exiled Doomblade]               7
165                       [Bone Crushing Silver Skewer]               4
166                               [Thirsty Iron Reaver]               3
167                       [Malice, Legacy of the Queen]               4
168               [Sun Strike, Jaws of Twisted Visions]               2
169            [Interrogator, Blood Blade of the Queen]               4
170                                       [Shadowsteel]               4
171                                           [Scalpel]               3
172                                [Blade of the Grave]               4
173                               [Stormfury Longsword]               2
174                                   [Primitive Blade]               4
175                        [Woeful Adamantite Claymore]               3
176                            [Relentless Iron Skewer]               2
177          [Winterthorn, Defender of Shifting Worlds]               2
178      [Oathbreaker, Last Hope of the Breaking Storm]              12
179                   [Wolf, Promise of the Moonwalker]               6
180                                       [Stormcaller]               1
181                                     [Reaper's Toll]               5
182                                         [Toothpick]               3
183                               [Dragon's Greatsword]               3

[183 rows x 2 columns]

## Most Profitable Items